// Version sans mixin

section.cards-container {
    max-width:1200px;
    margin:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}


article.card {
    @include box--config;

}

article.bigCard {
    @include box--config(500px, 400px);
    .card-content {
        .card-link {
            @include btn--config(blue,white);
            &:hover {
                @include btn--hover--config(grey,purple);
            }
        }
    }
}