@mixin btn--config($btn-bg-color:$btn__bg__color, $btn-ft-color:$btn__ft__color) {
    background-color: $btn-bg-color;
    color:$btn-ft-color;
}

@mixin btn--hover--config($btn-bg-hover-color:$btn__hover__bg__color, $btn-ft-hover-color:$btn__hover__ft__color) {
    background-color: $btn-bg-hover-color;
    color:$btn-ft-hover-color;
}


@mixin img--cover--center {
    min-width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

@mixin box--config($bx-wdth: $box__width, $bx-hgt: $box__height) {
  max-width: $bx-wdth;
  min-height: $bx-hgt;
  margin: $box__margin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 9px 6px 15px 4px rgba(0, 0, 0, 0.68);

  .card-img {
    @include img--cover--center;
  }
  .card-content {
    padding: $box__padding;
    margin: $box__margin;
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .card-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-content .card-link {
    margin: 15px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    @include btn--config;
    &:hover {
      @include btn--hover--config;
    }
  }
}
